<div class="content_bg pdtop55">
    <div class="wrapper">
        <div class="content">
            <div class="content_inner">
                <h1 class="bottom30"><%= component.title %></h1>
                <p class="bottom15"><%= component.term1 %><br />
                <span><%= component.definition1 %></span></p>
                <p class="bottom76"><%= component.term2 %><br />
                <span><%= component.definition2 %></span></p>
            </div>
        </div>
    </div>
</div>
